.hero-unit{:"ng-controller" => "MainController as main"}
  %h1 {{'general.YO' | translate}}
  %p Test Get File API

  %button{:"ng-click" => "doPut()", :"ng-disabled" => "!isReady()"} Click to DoPut
  %p installed.
  %h3 Enjoy coding! - Yeoman
